.login-comp {
    background-image: url('../../../assets/login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}