.login-comp {
    background-image: url('../../../assets/login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-attachment: fixed;
}