.active {
    color: orangered;
    font-weight: bolder;
    text-decoration: underline;
    font-style: italic;
    font-size: 17px;
}

.dark-mode {
    background-color: #1a1919;
    color: #fff;
    height: 100%;
    transition: background-color 0.25s ease-in-out;
}

.light-mode {
    background-color: #fff;
    color: #333;
    height: 100%;
    transition: background-color 0.25s ease-in-out;
}

.dark-mode span {
    color: white;
}

.light-mode button {
    color: white;
}